<section id="features">
  <div class="container">
    <div>
      <h2>Try it live</h2>
      <textarea>
Go to github.com/AnandChowdhary
Click on Repositories link
Type puppet in Find a repository input
Press enter
Click on Puppet link
Click on puppet.js.org
Take a screenshot
Download as screenshot.png</textarea
      >
      <a href="#" class="button">Run Puppet job &rarr;</a>
      <a href="#" class="button">Usage docs</a>
    </div>
    <div>
      <ul>
        <li>
          <span>
            <img alt="" src="/assets/scrape.svg" />
          </span>
          <span>Scrape websites, automate your workflows</span>
        </li>
        <li>
          <span>
            <img
              alt=""
              src="https://cdnjs.cloudflare.com/ajax/libs/browser-logos/51.0.13/chrome/chrome_128x128.png"
            />
          </span>
          <span>Based on leading browser Google Chrome</span>
        </li>
        <li>
          <span>
            <img alt="" src="/assets/schedule.svg" />
          </span>
          <span>Scheduled jobs run every hour, day, or week</span>
        </li>
        <li>
          <span>
            <img alt="" src="/assets/slack.svg" />
          </span>
          <span>Send Slack notifications, emails, and SMS</span>
        </li>
        <li>
          <span>
            <img alt="" src="/assets/api.svg" />
          </span>
          <span>Easy-to-use developer API</span>
        </li>
        <li>
          <span>
            <img alt="" src="/assets/ifttt.svg" />
          </span>
          <span>IFTTT webhook integrations</span>
        </li>
      </ul>
    </div>
  </div>
</section>
