{% include "style/properties.njk" %}

{% include "style/type.css" %}
{% include "style/layout.css" %}
{% include "style/content.css" %}
{% include "style/notification.css" %}
{% include "style/mobile.css" %}

{#
  Include all component styles here
  regardless of whether you're using them
#}
{% include "header/header.css" %}
