{% include "style/properties.njk" %}

{% include "style/type.css" %}
{% include "style/layout.css" %}
{% include "style/content.css" %}
{% include "style/notification.css" %}
{% include "style/mobile.css" %}
