{% include "style/properties.njk" %}

{% include "style/type.css" %}
{% include "style/layout.css" %}
{% include "style/content.css" %}
{% include "style/mobile.css" %}

{% include "components/header/header.css" %}
{% include "components/notification/notification.css" %}
{% include "components/navbar/navbar.css" %}
{% include "components/footer/footer.css" %}
{% include "components/pricing/pricing.css" %}
{% include "components/faq/faq.css" %}
{% include "components/prefooter/prefooter.css" %}
