{%- set absolutePageUrl -%}{{ page.url | safeUrl | absoluteUrl(pkg['@staart/site'].url) }}{%- endset -%}

{# Meta Tags #}
<meta name="description" content="{{ (content or description or pkg['@staart/site'].description) | striptags | truncate(300) }}">
<meta property="og:title" content="{{ title or pkg['@staart/site'].title }}">
<meta property="og:description" content="{{ (content or description or pkg['@staart/site'].description) | striptags | truncate(300) }}">
<meta property="og:url" content="{{ absolutePageUrl }}">

{# Twitter #}
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@karuna2020_org">
<meta name="twitter:creator" content="@karuna2020_org">
<meta name="twitter:title" content="{{ title or pkg['@staart/site'].title }}">
<meta name="twitter:description" content="{{ (content or description or pkg['@staart/site'].description) | striptags | truncate(300) }}">

{# Favicon #}
<link rel="shortcut icon" type="image/png" href="{{ '/static/images/favicon/favicon.ico' | safeUrl }}">
<link rel="icon" type="image/png" href="{{ '/static/images/favicon/apple-touch-icon.png' | safeUrl }}">
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/static/images/favicon/apple-touch-icon.png' | safeUrl }}">
<meta name="theme-color" content="#c00058">

{# Manifest #}
<link rel="manifest" href="{{ '/site.webmanifest' | safeUrl }}">

{# RSS Feed #}
<link type="application/atom+xml" rel="alternate" href="{{ pkg['@staart/site'].url }}/feed.xml" title="{{ pkg['@staart/site'].title }}">

{# Custom fonts/CSS #}
{% include "custom-head.njk" %}