<footer>
    <span>&copy; {{ year }}{{#if author}} {{{ author }}}{{/if}}</span>
    <span><a href="/sitemap.html">Sitemap</a></span>
    {{#if agastyaApiKey}}<span><button onclick="window.agastya.open()">Accessibility</button></span>{{/if}}
    {{{ footerNavBar }}}
    <span>This site is 
    {{#if githubUrl}}{{{ githubUrl }}}, {{/if}} built with <a href="https://staart.js.org/site" target="_blank" rel="noopener">Staart Site</a></span>
    <span><button class="theme-toggle" aria-label="Change theme to dark"><svg preserveAspectRatio="xMidYMid meet" viewbox="0 0 80 80" xmlns="http://www.w3.org/2000/svg"><path d="M76 15l-5-5-57 57 5 5 57-57zm1 26a20 20 0 000 37 20 20 0 01-22-33c6-6 15-7 22-4zm-49 2c-5-5-5-13 0-18s13-5 18 0L28 43zM15 8l-4 4 11 11 4-4L15 8zM4 28l-1 6 15 2 1-7-15-1zm4 23l3 5 12-9-3-5-12 9zM37 0l-6 1 1 15 7-1-2-15zm22 8l-5-4-9 13 6 3 8-12z" fill="#000" fill-rule="nonzero"/></svg></button></span>
</footer>
