<header id="masthead">
  <div class="masthead">
    <div class="container">
      <a href="/" class="logo">
        {{#if assets_icon-white_svg}}
          <img class="icon" alt="" src="/assets/icon-white.svg" />
        {{else if assets_icon-white_png}}
          <img class="icon" alt="" src="/assets/icon-white.png" />
        {{/if}}
        <h1>{{ title }}</h1>
      </a>
    </div>
  </div>
  {{#if navBar}}<nav>
    <div class="container">
      {{{ navBar }}}
    </div>
  </nav>{{/if}}
</header>
