:root {
  --button-color: {% if pkg["@staart/site"].buttonBackgroundColor %}{{ pkg["@staart/site"].buttonBackgroundColor }}{% else %}#005291{% endif %};
  --button-color-light: {% if pkg["@staart/site"].buttonLightBackgroundColor %}{{ pkg["@staart/site"].buttonLightBackgroundColor }}{% else %}#74b9ff{% endif %};
  --button-text-color: {% if pkg["@staart/site"].buttonTextColor %}{{ pkg["@staart/site"].buttonTextColor }}{% else %}#ffffff{% endif %};
  --text-color: {% if pkg["@staart/site"].textColor %}{{ pkg["@staart/site"].textColor }}{% else %}#001424{% endif %};
  --link-color: {% if pkg["@staart/site"].linkColor %}{{ pkg["@staart/site"].linkColor }}{% else %}{% if pkg["@staart/site"].buttonBackgroundColor %}{{ pkg["@staart/site"].buttonBackgroundColor }}{% else %}#0984e3{% endif %}{% endif %};
  --header-background-color: {% if pkg["@staart/site"].headerBackgroundColor %}{{ pkg["@staart/site"].headerBackgroundColor }}{% else %}#0984e3{% endif %};
  --header-text-color: {% if pkg["@staart/site"].headerTextColor %}{{ pkg["@staart/site"].headerTextColor }}{% else %}#ffffff{% endif %};
  --footer-background-color: {% if pkg["@staart/site"].footerBackgroundColor %}{{ pkg["@staart/site"].footerBackgroundColor }}{% else %}#000000{% endif %};
  --footer-text-color: {% if pkg["@staart/site"].footerTextColor %}{{ pkg["@staart/site"].footerTextColor }}{% else %}#ffffff{% endif %};
  --notification-background-color: {% if pkg["@staart/site"].notificationBackgroundColor %}{{ pkg["@staart/site"].notificationBackgroundColor }}{% else %}#81ecec{% endif %};
  --notification-text-color: {% if pkg["@staart/site"].notificationTextColor %}{{ pkg["@staart/site"].notificationTextColor }}{% else %}#000000{% endif %};
  --spacing: 1em;
  --font-size: 1.25rem;
}

@media screen and (min-width: 40em) {
  :root {
    --spacing: 2em;
    --font-size: 1.5rem;
  }
}
