.message .container > div {
  max-width: 500px;
}

.message h2 {
  margin-top: 0;
}
.message {
  background-color: #fff;
  padding: 5vh 0;
}
.message img.icon {
  height: 2.5rem;
  display: block;
  margin-bottom: 1rem;
}
.page .message {
  background-color: whitesmoke;
}
