<div class="preprefooter">
  <div class="container">
    <div>
      <h2>Open sourced on GitHub</h2>
      <p>Puppet's source code is available for free on <a href="#">GitHub</a>, and the underlying package is available on <a href="#">npm</a>.</p>
    </div>
  </div>
</div>
<div class="prefooter">
  <div class="container">
    <div>
      <h2>
        Seriously&mdash;unlimited web automation jobs for the price of 1 cup of
        coffee per month.
      </h2>
      <div>
        <a href="#" class="button">Get for $4/month &rarr;</a>
      </div>
    </div>
    <img alt="" src="/doodles/coffee.svg" class="doodle" />
  </div>
</div>
