<div class="prefooter">
  <div class="container">
    <div>
      <h2>
        Seriously&mdash;unlimited web automation jobs for the price of 1 cup of
        coffee per month.
      </h2>
      <div>
        <a href="#" class="button">Get for $4/month &rarr;</a>
      </div>
    </div>
    <img alt="" src="/assets/coffee.svg" class="doodle" />
  </div>
</div>
