{% if pkg["@staart/site"]["preFooter"] %}
  {% for item in pkg["@staart/site"]["preFooter"] %}
    <section class="{{ item.type }}" style="{% if item.style %}{% for prop, value in item.style %}{{ prop }}:{{ value }};{% endfor %}{% endif %}">
      <div class="container">
        <div>
          {% if item.icon %}
            <img alt="" src="{{ item.icon }}" class="icon">
          {% endif %}
          {% if item.title %}
            <h2>{{ item.title }}</h2>
          {% endif %}
          {% if item.text %}
            <p>{{ item.text | safe }}</p>
          {% endif %}
          {% if item.ctaText %}
            <div>
              <a href="{{ item.ctaLink }}" class="button">{{ item.ctaText }}</a>
            </div>
          {% endif %}
        </div>
      {% if item.illustration %}
        <div>
          <img alt="" src="{{ ('/doodles/' + illustration + '.svg') | safeUrl }}" class="doodle" />
        </div>
      {% endif %}
      {% if item.image %}
        <div>
          <img alt="" src="{{ item.image }}" class="image" />
        </div>
      {% endif %}
    </section>
  {% endfor %}
{% endif %}
