.notification {
  padding: 1.5vh 0;
  background-color: #e2650d;
  color: #fff;
}
.notification h2 {
  margin-bottom: 0.5rem;
}
.notification p {
  margin: 0;
}
.notification .container {
  display: flex;
  align-items: center;
}
.notification p {
  margin-right: 2rem;
  flex: 1 0 0;
}
.notification a.button {
  font-size: 100%;
  padding: 0.5rem 1rem;
}
