<div class="notification">
  <div class="container">
    <p>
      <strong>🎉 We're on Product Hunt!</strong>
      $10 coupon code:
      <code>GOLDENKITTY</code>
    </p>
    <div>
      <a href="#" class="button">Upvote on Product Hunt &rarr;</a>
    </div>
  </div>
</div>
