{% if pkg["@staart/site"].notificationText %}
<div class="notification">
  <div class="container">
    <p>{{ pkg["@staart/site"].notificationText }}</p>
    {% if pkg["@staart/site"].notificationButtonText %}
    <div>
      <a href="{{ pkg['@staart/site'].notificationLink }}" class="button">
        {{ pkg["@staart/site"].notificationButtonText }}
      </a>
    </div>
    {% endif %}
  </div>
</div>
{% endif %}
