<section id="pricing">
  <div class="container">
    <div>
      <div>
        <h3>Self-hosted</h3>
        <div>Open source</div>
      </div>
      <p>
        Download the source code on GitHub and host it yourself, or use the NPM
        package in your projects.
      </p>
      <div>
        <a href="#" class="button">Download source</a>
        <p>MIT licensed</p>
      </div>
    </div>
    <div class="recommended">
      <div>
        <h3>Puppet Starter</h3>
        <div>$4/month</div>
      </div>
      <ul>
        <li>Unlimited usage</li>
        <li>5 minute long jobs</li>
        <li>7-day job history</li>
        <li>No Secrets <a href="#faq" class="question">?</a></li>
        <li>No emails or SMS</li>
      </ul>
      <div>
        <a href="#" class="button">Get started &rarr;</a>
        <p>7 days free</p>
      </div>
    </div>
    <div>
      <div>
        <h3>Puppet Master</h3>
        <div>$9/month</div>
      </div>
      <ul>
        <li>Unlimited usage</li>
        <li>Unlimited job duration</li>
        <li>Unlimited job history</li>
        <li>Unlimited Secrets <a href="#faq" class="question">?</a></li>
        <li>Send emails and SMS</li>
      </ul>
      <div>
        <a href="#" class="button">Get started &rarr;</a>
        <p>7 days free</p>
      </div>
    </div>
  </div>
</section>
