<header>
  <div class="container">
    <nav>
      <a href="/">
        <img alt="" src="/assets/icon.svg" />
        <span>Puppet</span>
      </a>
      <div>
        <a href="#pricing">Pricing</a>
        <a href="#">Docs</a>
        <a href="#">Login &rarr;</a>
      </div>
    </nav>
    <div>
      <h1>No-code, natural language web automation</h1>
      <p>
        Puppet is the open-source no-code browser-based automation tool, powered
        by Google Chrome. Easily automate your workflows, scrape websites, and
        more.
      </p>
      <div>
        <a href="#" class="button">Get for $4/month &rarr;</a>
      </div>
    </div>
    <img alt="" src="/assets/sleek.svg" class="doodle" />
  </div>
</header>
