header {
  background-color: var(--header-background-color);
  color: var(--header-text-color);
  padding: 2.5vh 0 10vh 0;
}
header p {
  max-width: 500px;
}
header .container > div {
  max-width: 600px;
}
header .doodle {
  bottom: -10vh;
}
