<nav class="navbar">
  <a href="/">
    {% if pkg["@staart/site"].logo %}
      <img alt="" src="{{ pkg['@staart/site'].logo }}" />
    {% endif %}
    {% if pkg["@staart/site"].title %}
      <span>{{ pkg["@staart/site"].title }}</span>
    {% elseif pkg.name %}
      <span>{{ pkg.name }}</span>
    {% endif %}
  </a>
  <div>
    {%- for item in pkg["@staart/site"].navbar %}
      {{ item | safe }}
    {%- endfor %}
  </div>
</nav>
