<nav class="navbar">
  <a href="/">
    <img alt="" src="/assets/icon.svg" />
    <span>Puppet</span>
  </a>
  <div>
    <a href="#pricing">Pricing</a>
    <a href="#">Docs</a>
    <a href="#">Login &rarr;</a>
  </div>
</nav>
