---
permalink: /sitemap.html
eleventyExcludeFromCollections: true
layout: page
title: Sitemap
---

<ul>
  {% for page in collections.all %}
  {% set absoluteUrl %}{{ page.url | safeUrl | absoluteUrl(pkg["@staart/site"].url)}}{% endset %}
  {% if page.data.title %}
  <li>
    <a href="{{ absoluteUrl }}">{{ page.data.title }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
