$theme-color: #0e632c;
$text-color: #001b01;
$link-color: #0e632a;
$light-color: #fff;

@font-face {
  font-family: "Public Sans";
  src: url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-ExtraLight.woff2")
      format("woff2"),
    url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-ExtraLight.woff")
      format("woff"),
    url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-ExtraLight.ttf")
      format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Public Sans";
  src: url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-Regular.woff2")
      format("woff2"),
    url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-Regular.woff")
      format("woff"),
    url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-Regular.ttf")
      format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Public Sans";
  src: url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-Italic.woff2")
      format("woff2"),
    url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-Italic.woff")
      format("woff"),
    url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-Italic.ttf")
      format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
}
@font-face {
  font-family: "Public Sans";
  src: url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-Bold.woff2")
      format("woff2"),
    url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-Bold.woff")
      format("woff"),
    url("https://public-cdn.oswaldlabs.com/fonts/public-sans/PublicSans-Bold.ttf")
      format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: $text-color;
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

main,
div {
  max-width: 720px;
  margin: auto;
  padding: 0 1.5rem;
}

main {
  margin: 7.5vh auto;
  font-size: 1.5rem;
}

header {
  text-align: center;
  .masthead {
    background-color: $theme-color;
    color: $light-color;
    padding: 7.5vh 0;
    max-width: 100%;
  }
  a {
    display: flex;
    color: inherit !important;
    align-items: center;
    justify-content: center;
    &.logo:hover,
    &.logo:focus {
      text-decoration: none;
    }
  }
  nav {
    background-color: whitesmoke;
    color: $text-color;
    font-size: 130%;
    a {
      padding: 1rem 0;
      display: block;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        margin: 0;
      }
    }
  }
  .icon {
    width: 5rem;
    margin-right: 2rem;
    vertical-align: middle;
  }
  h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 200;
    display: inline-block;
  }
}

li + li {
  margin-top: 0.5rem;
}

li {
  padding-left: 0.5rem;
}

a,
h2,
cite,
footer {
  color: $link-color;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

header a + a,
footer span + span,
footer ul + span {
  margin-left: 1.5rem;
}

h2,
h3 {
  font-weight: 700;
  font-size: 90%;
  text-transform: uppercase;
  margin-top: 7.5vh;
  letter-spacing: 1px;
  + p {
    margin-top: 0;
  }
}

h3 {
  color: rgba($text-color, 0.7);
  font-size: 85%;
}

footer {
  text-align: center;
  margin-bottom: 5vh;
  line-height: 2.5;
  a, button {
    color: lighten($link-color, 10%);
  }
  p {
    margin: 0;
  }
  button {
    appearance: none;
    font: inherit;
    background: none;
    border: 0;
    padding: 0;
    color: inherit;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    li {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 1.5rem;
    }
  }
}

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  border-left: 0.5rem solid $theme-color;
  font-style: italic;
}

.skip-link {
  background: $light-color;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: bold;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  &:focus {
    position: fixed;
    left: 1rem;
    top: 1rem;
    width: auto;
    height: auto;
  }
}

code {
  display: inline-block;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  background-color: whitesmoke;
  color: #ab2323;
  font-size: 80%;
  padding: 0.2rem 0.4rem;
  margin: 0 0.1rem;
  border-radius: 0.2rem;
}

pre {
  font-size: 70% !important;
}

.post-footer {
  color: rgba($text-color, 0.75);
  font-size: 80%;
}

table th {
  font-weight: 600;
}

table td,
table th {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

table tr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

table tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}

img {
  box-sizing: content-box;
  max-width: 100%;
}

@media (max-width: 500px) {
  main,
  div {
    font-size: 1.25rem;
  }
  header h1 {
    font-size: 2rem;
  }
  footer div {
    font-size: 1rem;
  }
  header nav > div {
    overflow-x: auto;
  }
  header nav ul {
    display: block;
    white-space: nowrap;
    li {
      display: inline-block;
      margin-right: 1.25rem;
    }
  }
}

.theme-toggle {
  line-height: 1;
  vertical-align: middle;
  margin-top: -0.25rem;
  svg {
    height: 1.25rem;
    path {
      fill: lighten($link-color, 10%);;
    }
  }
}

.post-footer {
  margin-bottom: -2.5rem;
  margin-top: 3rem;
}

.dark {
  body {
    background-color: #000;
    color: rgba(255, 255, 255, 0.9);
  }
  header {
    nav {
      background-color: rgba(255, 255, 255, 0.075);
      color: #fff;
    }
    .masthead {
      background-color: rgba($theme-color, 0.8);
    }
  }
  a,
  h2,
  cite,
  footer {
    color: lighten($link-color, 10%);
  }
  h3 {
    color: rgba(255, 255, 255, 0.6);
  }
  footer a, footer button {
    color: lighten($link-color, 25%);
  }
  code {
    background: #ab2323;
    color: #fff;
  }
  .post-footer {
    color: rgba($light-color, 0.75);
  }
}
