$theme-color: #0e632c;
$text-color: #001b01;
$link-color: #0e632a;
$light-color: #fff;

body {
  font-family: "Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: $text-color;
  margin: 0;
  line-height: 1.5;
  word-break: break-word;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

main#content,
div.container {
  max-width: 720px;
  margin: auto;
  padding: 0 1.5rem;
}

main#content {
  margin: 7.5vh auto;
  font-size: 1.5rem;

  li + li {
    margin-top: 0.5rem;
  }

  li {
    padding-left: 0.5rem;
  }
}

header#masthead {
  text-align: center;

  .masthead {
    background-color: $theme-color;
    color: $light-color;
    padding: 7.5vh 0;
    max-width: 100%;
  }
  a {
    display: inline-flex;
    color: inherit !important;
    align-items: center;
    justify-content: center;
    &.logo:hover,
    &.logo:focus {
      text-decoration: none;
    }
  }
  nav {
    background-color: whitesmoke;
    color: $text-color;
    font-size: 130%;
    a {
      padding: 1rem 0;
      display: block;
    }
    .search-li {
      display: flex;
    }
    input.docs-search {
      color: $text-color;
      background-color: transparent;
      font: inherit;
      padding: 0 1rem;
      box-sizing: border-box;
      appearance: none;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTI4IiBoZWlnaHQ9IjEyOCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTI3IDEyMGwtNyA3aC02TDgwIDkzYy05IDUtMTggOS0yOSA5YTUxIDUxIDAgMTE0Mi0yMmwzNCAzNHY2ek01MSA4M2EzMiAzMiAwIDEwMC02NSAzMiAzMiAwIDAwMCA2NXoiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==");
      border: none;
      height: 100%;
      background-position: center center;
      background-size: auto 40%;
      background-repeat: no-repeat;
      width: 5rem;
      &::placeholder {
        color: transparent;
      }
    }
    .has-focus {
      justify-content: start;
      li:not(:last-child) {
        display: none;
      }
      .search-li {
        flex: 1 0 0;
        span {
          display: block;
          width: 100%;
        }
        input.docs-search {
          padding: 1rem;
        }
      }
      input.docs-search {
        width: 100%;
        background-size: 0% 0% !important;
        &::placeholder {
          color: $text-color;
        }
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      flex: 1 0 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        margin: 0;
      }
    }
  }
  .icon {
    width: 5rem;
    margin-right: 2rem;
    vertical-align: middle;
  }
  h1 {
    margin: 0;
    font-size: 3rem;
    font-weight: 200;
    display: inline-block;
  }
}

a,
h2,
cite,
footer {
  color: $link-color;
}

a {
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

header#masthead a + a,
footer#colophon span + span,
footer#colophon ul + span {
  margin-left: 1.5rem;
}

h2,
h3 {
  font-weight: 700;
  font-size: 90%;
  text-transform: uppercase;
  margin-top: 7.5vh;
  letter-spacing: 1px;
  + p {
    margin-top: 0;
  }
}

h3 {
  color: rgba($text-color, 0.7);
  font-size: 85%;
}

footer#colophon {
  text-align: center;
  margin: 5vh auto;
  width: 90%;
  white-space: nowrap;
  overflow-x: auto;
  a,
  button {
    color: lighten($link-color, 10%);
  }
  p {
    margin: 0;
  }
  button {
    appearance: none;
    font: inherit;
    background: none;
    border: 0;
    padding: 0;
    color: inherit;
    line-height: 1;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline;
    li {
      display: inline-block;
      padding: 0;
      margin: 0 0 0 1.5rem;
    }
  }
}

blockquote {
  margin-left: 0;
  padding-left: 2rem;
  border-left: 0.5rem solid $theme-color;
  font-style: italic;
}

.skip-link {
  background: $light-color;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  font-weight: bold;
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  &:focus {
    position: fixed;
    left: 1rem;
    top: 1rem;
    width: auto;
    height: auto;
  }
}

code {
  display: inline-block;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  background-color: whitesmoke;
  color: #ab2323;
  font-size: 80%;
  padding: 0.2rem 0.4rem;
  margin: 0 0.1rem;
  border-radius: 0.2rem;
}

pre {
  font-size: 70% !important;
  code {
    display: block;
    overflow: auto;
    color: inherit;
    font-size: 100%;
    padding: 1rem;
    margin: 0;
    border-radius: 0;
  }
}

.post-footer {
  color: rgba($text-color, 0.75);
  font-size: 80%;
}

table {
  width: 100%;
  display: block;
  white-space: nowrap;
  overflow-x: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

table th {
  font-weight: 600;
}

table td,
table th {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0.5rem 1rem;
}

table tr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

table tr:nth-child(2n) {
  background-color: rgba(0, 0, 0, 0.05);
}

img {
  box-sizing: content-box;
  max-width: 100%;
}

@media (max-width: 500px) {
  main#content,
  div.container {
    font-size: 1.25rem;
  }
  header#masthead h1 {
    font-size: 2rem;
  }
  footer#colophon div.container {
    font-size: 1rem;
  }
  header#masthead nav > div.container {
    overflow-x: auto;
  }
  header#masthead nav ul {
    display: block;
    white-space: nowrap;
    input.docs-search {
      background-size: contain;
    }
    li,
    .search-li {
      display: inline-block;
      margin-right: 1.25rem;
    }
    &.has-focus {
      li,
      .search-li {
        margin-right: 0;
      }
    }
  }
  .byline {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
}

.theme-toggle {
  line-height: 1;
  vertical-align: middle;
  margin-top: -0.25rem;
  svg {
    height: 1.25rem;
    path {
      fill: lighten($link-color, 10%);
    }
  }
}

.post-footer {
  margin-bottom: -2.5rem;
  margin-top: 3rem;
}

.breadcrumbs {
  font-size: 80%;
  margin: -2vh 0 -1.5rem 0;
  a {
    &:last-child {
      display: none;
    }
    &::after {
      content: "›";
      margin: 0 0.75rem;
      pointer-events: none;
    }
  }
}

.external-link::after {
  content: "";
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTc2IDUxMiI+PHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJNNDQ4IDI3OXYxODVjMCAyNy0yMSA0OC00OCA0OEg0OGMtMjcgMC00OC0yMS00OC00OFYxMTJjMC0yNyAyMS00OCA0OC00OGgyNDhhMjQgMjQgMCAwMTE3IDdsMTYgMTZjMTUgMTUgNCA0MS0xNyA0MUg2NHYzMjBoMzIwVjI5NWMwLTYgMy0xMiA3LTE3bDE2LTE2YzE1LTE1IDQxLTQgNDEgMTd6TTU3NiAzN2MwLTIwLTE3LTM3LTM3LTM3SDM4MGMtMTUgMC0yOCAxMy0yOCAyOHYxOGMwIDE2IDEzIDI4IDI5IDI4bDY3LTItMjQ5IDI0N2MtOSA5LTkgMjUgMCAzNGwyNCAyNGM5IDkgMjUgOSAzNCAwbDI0Ny0yNDktMiA2N2MwIDE2IDEyIDI5IDI4IDI5aDE4YzE1IDAgMjgtMTMgMjgtMjhWMzd6Ii8+PC9zdmc+");
  background-size: contain;
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-left: 0.25em;
  margin-right: 0.1em;
  opacity: 0.5;
}
.external-link span:last-child,
.sr-only {
  position: fixed;
  z-index: -1;
  left: -10%;
  top: -10%;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.next-prev {
  display: flex;
  margin-top: 4rem;
  margin-bottom: -2rem;
  justify-content: space-between;
  align-items: flex-end;
  .next::after {
    content: "›";
    margin-left: 1rem;
  }
  .prev::before {
    content: "‹";
    margin-right: 1rem;
  }
}

.dark {
  body {
    background-color: #000;
    color: rgba(255, 255, 255, 0.9);
  }
  header#masthead {
    nav {
      background-color: rgba(255, 255, 255, 0.075);
      color: #fff;
    }
    .masthead {
      background-color: rgba($theme-color, 0.8);
    }
  }
  a,
  h2,
  cite,
  footer#colophon {
    color: lighten($link-color, 10%);
  }
  h3 {
    color: rgba(255, 255, 255, 0.6);
  }
  footer#colophon a,
  footer#colophon button {
    color: lighten($link-color, 25%);
  }
  code {
    background: #650000;
    color: #fff;
  }
  pre code {
    background-color: #111;
  }
  .post-footer {
    color: rgba($light-color, 0.75);
  }
  .external-link::after {
    background-image: url("data:image/svg+xml;base64,PHN2ZyBhcmlhLWhpZGRlbj0idHJ1ZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSIwIDAgNTc2IDUxMiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTQ0OCAyNzl2MTg1YzAgMjctMjEgNDgtNDggNDhINDhjLTI3IDAtNDgtMjEtNDgtNDhWMTEyYzAtMjcgMjEtNDggNDgtNDhoMjQ4YTI0IDI0IDAgMDExNyA3bDE2IDE2YzE1IDE1IDQgNDEtMTcgNDFINjR2MzIwaDMyMFYyOTVjMC02IDMtMTIgNy0xN2wxNi0xNmMxNS0xNSA0MS00IDQxIDE3ek01NzYgMzdjMC0yMC0xNy0zNy0zNy0zN0gzODBjLTE1IDAtMjggMTMtMjggMjh2MThjMCAxNiAxMyAyOCAyOSAyOGw2Ny0yLTI0OSAyNDdjLTkgOS05IDI1IDAgMzRsMjQgMjRjOSA5IDI1IDkgMzQgMGwyNDctMjQ5LTIgNjdjMCAxNiAxMiAyOSAyOCAyOWgxOGMxNSAwIDI4LTEzIDI4LTI4VjM3eiIvPjwvc3ZnPg==");
  }
  .byline {
    background-color: rgba(255, 255, 255, 0.05);
    nav a svg {
      g,
      path {
        fill: #fff;
      }
    }
  }
}

.iframed {
  header#masthead,
  footer#colophon,
  nav.next-prev {
    display: none;
  }
}

.byline {
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 80%;
  padding: 1.75rem;
  border-radius: 0.2rem;
  margin-top: 3rem;
  img:first-child {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 1rem;
  }
  address {
    font-style: normal;
    line-height: 1;
    display: inline-block;
    font-size: 110%;
    margin: 0;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}

nav.byline-social a {
  margin-right: 0.5rem;
  height: 1.25rem;
  opacity: 0.5;
  svg {
    height: 1.5rem;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.75;
  }
}

/*
Atom One Light by Daniel Gamage
Original One Light Syntax theme from https://github.com/atom/one-light-syntax
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #383a42;
  background: #fafafa;
}

.hljs-comment,
.hljs-quote {
  color: #a0a1a7;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #a626a4;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e45649;
}

.hljs-literal {
  color: #0184bb;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #50a14f;
}

.hljs-built_in,
.hljs-class .hljs-title {
  color: #c18401;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #986801;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #4078f2;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

.dark {
  /*
  Atom One Dark by Daniel Gamage
  Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
  */

  .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    color: #abb2bf;
    background: #282c34;
  }

  .hljs-comment,
  .hljs-quote {
    color: #5c6370;
    font-style: italic;
  }

  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #c678dd;
  }

  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e06c75;
  }

  .hljs-literal {
    color: #56b6c2;
  }

  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta-string {
    color: #98c379;
  }

  .hljs-built_in,
  .hljs-class .hljs-title {
    color: #e6c07b;
  }

  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #d19a66;
  }

  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #61aeee;
  }

  .hljs-emphasis {
    font-style: italic;
  }

  .hljs-strong {
    font-weight: bold;
  }

  .hljs-link {
    text-decoration: underline;
  }
}
