{% include "head.njk" %}
  <body class="site page">
    {% include "components/notification/notification.njk" %}
    <header>
      <div class="container">
        {% include "components/navbar/navbar.njk" %}
      </div>
    </header>

    <main class="main">
      <div class="container container-text">
        {% include "components/breadcrumbs/breadcrumbs.njk" %}
        <h1>{{ title }}</h1>
        {{ content | safe }}
      </div>
    </main>
{% include "foot.njk" %}
