<section id="faq">
  <div class="container">
    <h2>Frequently Asked Questions</h2>
    {% for question, answer in component_questions %}
      <details>
        <summary>{{ question }}</summary>
        {{ answer }}
      </details>
    {% endfor %}
  </div>
</section>
